body {
  color: #82a5ca;
  text-align: center;
  margin: 0;
  font-family: "Orbitron", serif;
}

.hero {
  background-image: url(./images/galaxy.webp);
  background-size: cover;
  padding: 10px 0 40px;
}

.main-logo {
  width: 150px;
}

.title {
  text-shadow: 0 0 4px #000;
}

.underline {
  border-bottom: 4px solid #fff;
}

.btn {
  background-color: #fff;
  border: none;
  padding: 6px 12px;
  font-family: inherit;
  color: inherit;
  font-weight: 800;
}

h2 {
  font-size: 18.72px;
}
